[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dill = "*"
h5pickle = "*"
matplotlib = "*"
pyarrow = "*"
pyqt5-stubs = "*"
pyqt5 = "*"
statsmodels = "*"
pyqtgraph = "*"
importlib-metadata = "*"
importlib-resources = "*"
numdifftools = "*"
numpy = "<2"

[dev-packages]
pympler = "*"
pyinstaller = "*"

[requires]
python_version = "3"
