h5py==3.1.0; python_version >= "3.6"
numpy==1.19.4; python_version >= "3.6"
pandas==1.1.4; python_full_version >= "3.6.1" and python_version >= "3.6"
patsy==0.5.1; python_version >= "3.6"
pyqt5-sip==12.8.1; python_version >= "3.5"
pyqt5-stubs==5.14.2.2
pyqt5==5.15.1; python_version >= "3.5"
pyqtgraph==0.11.0
python-dateutil==2.8.1; python_full_version >= "3.6.1" and python_version >= "3.6"
pytz==2020.4; python_full_version >= "3.6.1" and python_version >= "3.6"
scipy==1.5.4; python_version >= "3.6"
six==1.15.0; python_full_version >= "3.6.1" and python_version >= "3.6"
statsmodels==0.12.1; python_version >= "3.6"
termcolor==1.1.0
